body
{
	margin: 0px;
	padding: 0px;
	background-color: rgba(255, 255, 255, 0.599);
}


#announcer
{
	margin-top: -17px;
	background-color: black;
	color: white;
	height: 25px;
}
#Logo img
{
	text-align: center;
	height: auto;
	width:  100%;
}

#logo
{

	margin: 0px;
	padding: 0px;
	margin-top: -20px;
	border: none;
}

#panel
{
	height: auto;
	margin: 0px;
	margin-top: -10px;
	margin-bottom: -10px;
	border: none;
}


#tabs
{
	text-align: center;
	width: auto;
	height: auto;
}

.important
{
  	color:black;
}

nav u1 
{
 	list-style-type: none;
 	text-align: center;
}

nav li 
{
	display: inline-block;
 	padding: 0px 8px 2px 8px;
 	margin: 2px 4px 2px 4px;
 	background-color: white;
 	border: outset;
 	border-color: silver;
	text-align: center;
	height: auto;
	width: auto;
}

nav a 
{
 	text-decoration: none;
	color: black;
}


l1
{
 	text-align: center;
}


#sub
{
	height: auto;
	width: auto;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: -8px;
	margin-bottom: -8px;
	border: none;
}

#sectabs
{
	float: right;
	margin-top: -4px;
	margin-bottom: -10px;
	text-decoration: none;
}

#sectabs a
{
	text-decoration: none;
	color:black;
	font-weight: bold;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

#searchbar
{
	float: left;
	margin: -10px;
	margin-bottom: -24px;
	margin-top: -21px;	
}

#search
{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#categories
{
	text-align: left;
	margin-top: -50px;
}

#rectext
{
	text-align: center;
	
}

footer
{
	background-color: black;
	color: white;
	height: 100px;
	margin-bottom: -10px;
}

footer u2
{
	float: right;
 	margin-right: 20px;
	margin-top: 5px;
}

#socialsb
{
	float: left;
	margin-top: 10px;
	margin-left: 20px;	
}

#socialsb img
{
	height: 30px;
	width: 30px;
	margin: 5px;
}

#specials, #popular, #recent, #out, #opened
{
	height: auto;
	margin-left: 0px;
	margin-right: 0px;
	border-radius: 10px;
	box-shadow: 10px;
	background-color: rgb(255, 255, 255); 	
}

#specials img
{
	height: 90vw;
	width: 93vw;
        
}

#data
{
	background-color: beige;
	margin-top: -8px;
}

#copy
{
	float: center;
	border-style: none;
	height: 80px;
}

#copyright
{
	text-align: center;
	margin-top: 60px;
}